function Box.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 10
pop this 0
push argument 0
pop this 2
push argument 1
pop this 3
push pointer 0
return
function Box.draw 1
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 4
add
push this 0
call Math.multiply 2
push this 3
push this 5
add
push this 0
call Math.multiply 2
push this 2
push this 4
push constant 1
add
add
push this 0
call Math.multiply 2
push this 3
push this 5
push constant 1
add
add
push this 0
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Box.wipe 1
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 2
push this 4
add
push this 0
call Math.multiply 2
push this 3
push this 5
add
push this 0
call Math.multiply 2
push this 2
push this 4
push constant 1
add
add
push this 0
call Math.multiply 2
push this 3
push this 5
push constant 1
add
add
push this 0
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Box.move 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push argument 2
pop this 5
push pointer 0
call Box.wipe 1
pop temp 0
push argument 3
pop this 4
push argument 4
pop this 5
push pointer 0
call Box.draw 1
pop temp 0
push constant 0
return
