function Sidebar.run 6
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 280
pop local 0
push constant 40
pop local 1
push local 0
push constant 131
add
push local 1
push constant 2
add
push local 0
push constant 133
add
push local 1
push constant 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 2
add
push local 0
push constant 146
add
push local 1
push constant 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 161
add
push local 1
push constant 2
add
push local 0
push constant 162
add
push local 1
push constant 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 131
add
push local 1
push constant 3
add
push local 0
push constant 133
add
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 3
add
push local 0
push constant 147
add
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 161
add
push local 1
push constant 3
add
push local 0
push constant 162
add
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 18
add
push local 1
push constant 4
add
push local 0
push constant 21
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 98
add
push local 1
push constant 4
add
push local 0
push constant 99
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 130
add
push local 1
push constant 4
add
push local 0
push constant 133
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 4
add
push local 0
push constant 147
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 161
add
push local 1
push constant 4
add
push local 0
push constant 162
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 15
add
push local 1
push constant 5
add
push local 0
push constant 22
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 5
add
push local 0
push constant 52
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 67
add
push local 1
push constant 5
add
push local 0
push constant 68
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 98
add
push local 1
push constant 5
add
push local 0
push constant 100
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 105
add
push local 1
push constant 5
add
push local 0
push constant 113
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 130
add
push local 1
push constant 5
add
push local 0
push constant 132
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 5
add
push local 0
push constant 148
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 161
add
push local 1
push constant 5
add
push local 0
push constant 162
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 12
add
push local 1
push constant 6
add
push local 0
push constant 18
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 39
add
push local 1
push constant 6
add
push local 0
push constant 43
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 6
add
push local 0
push constant 53
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 66
add
push local 1
push constant 6
add
push local 0
push constant 68
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 85
add
push local 1
push constant 6
add
push local 0
push constant 89
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 98
add
push local 1
push constant 6
add
push local 0
push constant 114
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 130
add
push local 1
push constant 6
add
push local 0
push constant 133
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 6
add
push local 0
push constant 148
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 6
add
push local 0
push constant 162
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
add
push local 1
push constant 7
add
push local 0
push constant 15
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 37
add
push local 1
push constant 7
add
push local 0
push constant 43
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 7
add
push local 0
push constant 53
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 64
add
push local 1
push constant 7
add
push local 0
push constant 67
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 83
add
push local 1
push constant 7
add
push local 0
push constant 89
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 98
add
push local 1
push constant 7
add
push local 0
push constant 106
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 112
add
push local 1
push constant 7
add
push local 0
push constant 114
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 129
add
push local 1
push constant 7
add
push local 0
push constant 133
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 7
add
push local 0
push constant 149
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 7
add
push local 0
push constant 162
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 9
add
push local 1
push constant 8
add
push local 0
push constant 13
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 35
add
push local 1
push constant 8
add
push local 0
push constant 39
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 43
add
push local 1
push constant 8
add
push local 0
push constant 44
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 8
add
push local 0
push constant 53
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 62
add
push local 1
push constant 8
add
push local 0
push constant 66
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 81
add
push local 1
push constant 8
add
push local 0
push constant 85
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 89
add
push local 1
push constant 8
add
push local 0
push constant 90
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 96
add
push local 1
push constant 8
add
push local 0
push constant 102
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 111
add
push local 1
push constant 8
add
push local 0
push constant 113
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 129
add
push local 1
push constant 8
add
push local 0
push constant 133
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 8
add
push local 0
push constant 150
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 8
add
push local 0
push constant 162
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 7
add
push local 1
push constant 9
add
push local 0
push constant 11
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 34
add
push local 1
push constant 9
add
push local 0
push constant 37
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 44
add
push local 1
push constant 9
add
push local 0
push constant 45
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 9
add
push local 0
push constant 53
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 9
add
push local 0
push constant 64
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 80
add
push local 1
push constant 9
add
push local 0
push constant 83
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 9
add
push local 0
push constant 91
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 96
add
push local 1
push constant 9
add
push local 0
push constant 100
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 109
add
push local 1
push constant 9
add
push local 0
push constant 112
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 128
add
push local 1
push constant 9
add
push local 0
push constant 130
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 132
add
push local 1
push constant 9
add
push local 0
push constant 133
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 9
add
push local 0
push constant 151
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 9
add
push local 0
push constant 161
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 6
add
push local 1
push constant 10
add
push local 0
push constant 9
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 33
add
push local 1
push constant 10
add
push local 0
push constant 36
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 44
add
push local 1
push constant 10
add
push local 0
push constant 45
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 10
add
push local 0
push constant 53
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 57
add
push local 1
push constant 10
add
push local 0
push constant 62
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 79
add
push local 1
push constant 10
add
push local 0
push constant 82
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 10
add
push local 0
push constant 91
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 10
add
push local 0
push constant 99
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 107
add
push local 1
push constant 10
add
push local 0
push constant 117
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 128
add
push local 1
push constant 10
add
push local 0
push constant 129
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 132
add
push local 1
push constant 10
add
push local 0
push constant 134
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 10
add
push local 0
push constant 148
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 150
add
push local 1
push constant 10
add
push local 0
push constant 152
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 10
add
push local 0
push constant 161
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 5
add
push local 1
push constant 11
add
push local 0
push constant 7
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 31
add
push local 1
push constant 11
add
push local 0
push constant 33
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 44
add
push local 1
push constant 11
add
push local 0
push constant 45
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 11
add
push local 0
push constant 53
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 55
add
push local 1
push constant 11
add
push local 0
push constant 60
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 77
add
push local 1
push constant 11
add
push local 0
push constant 79
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 11
add
push local 0
push constant 91
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 11
add
push local 0
push constant 99
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 104
add
push local 1
push constant 11
add
push local 0
push constant 118
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 127
add
push local 1
push constant 11
add
push local 0
push constant 129
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 132
add
push local 1
push constant 11
add
push local 0
push constant 134
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 11
add
push local 0
push constant 148
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 151
add
push local 1
push constant 11
add
push local 0
push constant 153
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 11
add
push local 0
push constant 161
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 4
add
push local 1
push constant 12
add
push local 0
push constant 6
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 12
add
push local 1
push constant 12
add
push local 0
push constant 21
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 12
add
push local 0
push constant 32
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 44
add
push local 1
push constant 12
add
push local 0
push constant 45
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 12
add
push local 0
push constant 57
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 76
add
push local 1
push constant 12
add
push local 0
push constant 78
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 12
add
push local 0
push constant 91
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 12
add
push local 0
push constant 99
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 101
add
push local 1
push constant 12
add
push local 0
push constant 109
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 116
add
push local 1
push constant 12
add
push local 0
push constant 118
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 127
add
push local 1
push constant 12
add
push local 0
push constant 128
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 132
add
push local 1
push constant 12
add
push local 0
push constant 134
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 12
add
push local 0
push constant 148
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 152
add
push local 1
push constant 12
add
push local 0
push constant 154
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 12
add
push local 0
push constant 161
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 3
add
push local 1
push constant 13
add
push local 0
push constant 22
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 29
add
push local 1
push constant 13
add
push local 0
push constant 31
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 43
add
push local 1
push constant 13
add
push local 0
push constant 45
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 50
add
push local 1
push constant 13
add
push local 0
push constant 55
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 13
add
push local 0
push constant 77
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 89
add
push local 1
push constant 13
add
push local 0
push constant 91
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 13
add
push local 0
push constant 99
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 101
add
push local 1
push constant 13
add
push local 0
push constant 105
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 117
add
push local 1
push constant 13
add
push local 0
push constant 118
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 126
add
push local 1
push constant 13
add
push local 0
push constant 128
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 133
add
push local 1
push constant 13
add
push local 0
push constant 134
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 13
add
push local 0
push constant 148
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 153
add
push local 1
push constant 13
add
push local 0
push constant 155
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 160
add
push local 1
push constant 13
add
push local 0
push constant 161
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 3
add
push local 1
push constant 14
add
push local 0
push constant 13
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 21
add
push local 1
push constant 14
add
push local 0
push constant 23
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 29
add
push local 1
push constant 14
add
push local 0
push constant 30
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 43
add
push local 1
push constant 14
add
push local 0
push constant 45
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 49
add
push local 1
push constant 14
add
push local 0
push constant 53
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 14
add
push local 0
push constant 76
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 89
add
push local 1
push constant 14
add
push local 0
push constant 91
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 14
add
push local 0
push constant 99
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 117
add
push local 1
push constant 14
add
push local 0
push constant 118
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 126
add
push local 1
push constant 14
add
push local 0
push constant 128
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 133
add
push local 1
push constant 14
add
push local 0
push constant 135
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 138
add
push local 1
push constant 14
add
push local 0
push constant 141
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 14
add
push local 0
push constant 148
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 154
add
push local 1
push constant 14
add
push local 0
push constant 156
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 14
add
push local 0
push constant 161
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 3
add
push local 1
push constant 15
add
push local 0
push constant 8
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 22
add
push local 1
push constant 15
add
push local 0
push constant 23
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 28
add
push local 1
push constant 15
add
push local 0
push constant 29
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 42
add
push local 1
push constant 15
add
push local 0
push constant 44
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 49
add
push local 1
push constant 15
add
push local 0
push constant 54
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 74
add
push local 1
push constant 15
add
push local 0
push constant 75
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 88
add
push local 1
push constant 15
add
push local 0
push constant 90
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 15
add
push local 0
push constant 99
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 117
add
push local 1
push constant 15
add
push local 0
push constant 118
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 125
add
push local 1
push constant 15
add
push local 0
push constant 127
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 133
add
push local 1
push constant 15
add
push local 0
push constant 139
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 15
add
push local 0
push constant 148
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 155
add
push local 1
push constant 15
add
push local 0
push constant 161
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 22
add
push local 1
push constant 16
add
push local 0
push constant 23
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 27
add
push local 1
push constant 16
add
push local 0
push constant 29
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 41
add
push local 1
push constant 16
add
push local 0
push constant 44
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 16
add
push local 0
push constant 56
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 73
add
push local 1
push constant 16
add
push local 0
push constant 75
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 87
add
push local 1
push constant 16
add
push local 0
push constant 90
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 16
add
push local 0
push constant 99
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 116
add
push local 1
push constant 16
add
push local 0
push constant 117
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 125
add
push local 1
push constant 16
add
push local 0
push constant 127
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 129
add
push local 1
push constant 16
add
push local 0
push constant 136
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 16
add
push local 0
push constant 148
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 156
add
push local 1
push constant 16
add
push local 0
push constant 161
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 21
add
push local 1
push constant 17
add
push local 0
push constant 23
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 27
add
push local 1
push constant 17
add
push local 0
push constant 28
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 40
add
push local 1
push constant 17
add
push local 0
push constant 43
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 17
add
push local 0
push constant 59
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 73
add
push local 1
push constant 17
add
push local 0
push constant 74
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 86
add
push local 1
push constant 17
add
push local 0
push constant 89
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 17
add
push local 0
push constant 99
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 115
add
push local 1
push constant 17
add
push local 0
push constant 117
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 124
add
push local 1
push constant 17
add
push local 0
push constant 135
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 17
add
push local 0
push constant 148
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 17
add
push local 0
push constant 161
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 20
add
push local 1
push constant 18
add
push local 0
push constant 22
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 18
add
push local 0
push constant 28
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 39
add
push local 1
push constant 18
add
push local 0
push constant 42
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 18
add
push local 0
push constant 53
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 55
add
push local 1
push constant 18
add
push local 0
push constant 62
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 18
add
push local 0
push constant 74
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 85
add
push local 1
push constant 18
add
push local 0
push constant 88
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 18
add
push local 0
push constant 99
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 114
add
push local 1
push constant 18
add
push local 0
push constant 116
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 121
add
push local 1
push constant 18
add
push local 0
push constant 131
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 134
add
push local 1
push constant 18
add
push local 0
push constant 136
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 18
add
push local 0
push constant 148
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 18
add
push local 0
push constant 161
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 18
add
push local 1
push constant 19
add
push local 0
push constant 21
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 19
add
push local 0
push constant 28
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 38
add
push local 1
push constant 19
add
push local 0
push constant 41
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 19
add
push local 0
push constant 53
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 58
add
push local 1
push constant 19
add
push local 0
push constant 65
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 19
add
push local 0
push constant 74
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 84
add
push local 1
push constant 19
add
push local 0
push constant 87
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 19
add
push local 0
push constant 99
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 113
add
push local 1
push constant 19
add
push local 0
push constant 115
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 121
add
push local 1
push constant 19
add
push local 0
push constant 126
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 134
add
push local 1
push constant 19
add
push local 0
push constant 136
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 19
add
push local 0
push constant 148
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 19
add
push local 0
push constant 161
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 3
add
push local 1
push constant 20
add
push local 0
push constant 3
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 17
add
push local 1
push constant 20
add
push local 0
push constant 20
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 20
add
push local 0
push constant 27
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 36
add
push local 1
push constant 20
add
push local 0
push constant 40
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 20
add
push local 0
push constant 53
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 20
add
push local 0
push constant 70
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 20
add
push local 0
push constant 73
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 82
add
push local 1
push constant 20
add
push local 0
push constant 86
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 20
add
push local 0
push constant 99
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 111
add
push local 1
push constant 20
add
push local 0
push constant 114
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 123
add
push local 1
push constant 20
add
push local 0
push constant 125
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 135
add
push local 1
push constant 20
add
push local 0
push constant 136
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 20
add
push local 0
push constant 148
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 20
add
push local 0
push constant 161
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
push local 1
push constant 21
add
push local 0
push constant 3
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 15
add
push local 1
push constant 21
add
push local 0
push constant 19
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 21
add
push local 0
push constant 28
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 35
add
push local 1
push constant 21
add
push local 0
push constant 39
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 21
add
push local 0
push constant 53
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 64
add
push local 1
push constant 21
add
push local 0
push constant 69
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 21
add
push local 0
push constant 74
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 81
add
push local 1
push constant 21
add
push local 0
push constant 85
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 21
add
push local 0
push constant 99
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 110
add
push local 1
push constant 21
add
push local 0
push constant 113
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 123
add
push local 1
push constant 21
add
push local 0
push constant 125
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 135
add
push local 1
push constant 21
add
push local 0
push constant 137
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 21
add
push local 0
push constant 148
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 21
add
push local 0
push constant 161
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 3
add
push local 1
push constant 22
add
push local 0
push constant 4
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 11
add
push local 1
push constant 22
add
push local 0
push constant 17
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 22
add
push local 0
push constant 28
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 32
add
push local 1
push constant 22
add
push local 0
push constant 38
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 22
add
push local 0
push constant 53
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 22
add
push local 0
push constant 74
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 78
add
push local 1
push constant 22
add
push local 0
push constant 84
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 22
add
push local 0
push constant 100
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 107
add
push local 1
push constant 22
add
push local 0
push constant 111
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 122
add
push local 1
push constant 22
add
push local 0
push constant 125
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 135
add
push local 1
push constant 22
add
push local 0
push constant 137
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 22
add
push local 0
push constant 148
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 22
add
push local 0
push constant 161
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 3
add
push local 1
push constant 23
add
push local 0
push constant 15
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 27
add
push local 1
push constant 23
add
push local 0
push constant 36
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 23
add
push local 0
push constant 53
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 73
add
push local 1
push constant 23
add
push local 0
push constant 82
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 23
add
push local 0
push constant 109
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 122
add
push local 1
push constant 23
add
push local 0
push constant 124
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 136
add
push local 1
push constant 23
add
push local 0
push constant 138
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 23
add
push local 0
push constant 148
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 23
add
push local 0
push constant 161
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 5
add
push local 1
push constant 24
add
push local 0
push constant 12
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 28
add
push local 1
push constant 24
add
push local 0
push constant 33
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 24
add
push local 0
push constant 53
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 74
add
push local 1
push constant 24
add
push local 0
push constant 79
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 24
add
push local 0
push constant 106
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 122
add
push local 1
push constant 24
add
push local 0
push constant 124
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 136
add
push local 1
push constant 24
add
push local 0
push constant 138
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 24
add
push local 0
push constant 148
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 24
add
push local 0
push constant 161
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 25
add
push local 0
push constant 53
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 25
add
push local 0
push constant 99
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 122
add
push local 1
push constant 25
add
push local 0
push constant 123
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 136
add
push local 1
push constant 25
add
push local 0
push constant 139
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 146
add
push local 1
push constant 25
add
push local 0
push constant 148
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 159
add
push local 1
push constant 25
add
push local 0
push constant 161
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 26
add
push local 0
push constant 52
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 26
add
push local 0
push constant 98
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 137
add
push local 1
push constant 26
add
push local 0
push constant 140
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push constant 290
pop local 0
push constant 90
pop local 1
push local 0
push constant 59
add
push local 1
push constant 1
add
push local 0
push constant 60
add
push local 1
push constant 1
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 56
add
push local 1
push constant 2
add
push local 0
push constant 61
add
push local 1
push constant 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 53
add
push local 1
push constant 3
add
push local 0
push constant 61
add
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 50
add
push local 1
push constant 4
add
push local 0
push constant 62
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 91
add
push local 1
push constant 4
add
push local 0
push constant 92
add
push local 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 48
add
push local 1
push constant 5
add
push local 0
push constant 63
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 5
add
push local 0
push constant 94
add
push local 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 45
add
push local 1
push constant 6
add
push local 0
push constant 63
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 6
add
push local 0
push constant 96
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 42
add
push local 1
push constant 7
add
push local 0
push constant 64
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 87
add
push local 1
push constant 7
add
push local 0
push constant 98
add
push local 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 39
add
push local 1
push constant 8
add
push local 0
push constant 64
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 86
add
push local 1
push constant 8
add
push local 0
push constant 100
add
push local 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 36
add
push local 1
push constant 9
add
push local 0
push constant 65
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 85
add
push local 1
push constant 9
add
push local 0
push constant 102
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 33
add
push local 1
push constant 10
add
push local 0
push constant 66
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 83
add
push local 1
push constant 10
add
push local 0
push constant 104
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 31
add
push local 1
push constant 11
add
push local 0
push constant 66
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 82
add
push local 1
push constant 11
add
push local 0
push constant 106
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 28
add
push local 1
push constant 12
add
push local 0
push constant 68
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 81
add
push local 1
push constant 12
add
push local 0
push constant 108
add
push local 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 25
add
push local 1
push constant 13
add
push local 0
push constant 69
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 80
add
push local 1
push constant 13
add
push local 0
push constant 110
add
push local 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 22
add
push local 1
push constant 14
add
push local 0
push constant 69
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 80
add
push local 1
push constant 14
add
push local 0
push constant 112
add
push local 1
push constant 14
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 19
add
push local 1
push constant 15
add
push local 0
push constant 69
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 80
add
push local 1
push constant 15
add
push local 0
push constant 114
add
push local 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 16
add
push local 1
push constant 16
add
push local 0
push constant 70
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 79
add
push local 1
push constant 16
add
push local 0
push constant 116
add
push local 1
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 14
add
push local 1
push constant 17
add
push local 0
push constant 71
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 78
add
push local 1
push constant 17
add
push local 0
push constant 118
add
push local 1
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 11
add
push local 1
push constant 18
add
push local 0
push constant 70
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 79
add
push local 1
push constant 18
add
push local 0
push constant 120
add
push local 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 9
add
push local 1
push constant 19
add
push local 0
push constant 68
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 73
add
push local 1
push constant 19
add
push local 0
push constant 73
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 19
add
push local 0
push constant 77
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 80
add
push local 1
push constant 19
add
push local 0
push constant 122
add
push local 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 7
add
push local 1
push constant 20
add
push local 0
push constant 64
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 70
add
push local 1
push constant 20
add
push local 0
push constant 73
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 20
add
push local 0
push constant 79
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 82
add
push local 1
push constant 20
add
push local 0
push constant 124
add
push local 1
push constant 20
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 9
add
push local 1
push constant 21
add
push local 0
push constant 62
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 66
add
push local 1
push constant 21
add
push local 0
push constant 73
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 21
add
push local 0
push constant 80
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 85
add
push local 1
push constant 21
add
push local 0
push constant 126
add
push local 1
push constant 21
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
add
push local 1
push constant 22
add
push local 0
push constant 58
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 64
add
push local 1
push constant 22
add
push local 0
push constant 73
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 22
add
push local 0
push constant 82
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 87
add
push local 1
push constant 22
add
push local 0
push constant 128
add
push local 1
push constant 22
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 12
add
push local 1
push constant 23
add
push local 0
push constant 56
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 23
add
push local 0
push constant 73
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 23
add
push local 0
push constant 85
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 89
add
push local 1
push constant 23
add
push local 0
push constant 130
add
push local 1
push constant 23
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 12
add
push local 1
push constant 24
add
push local 0
push constant 56
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 24
add
push local 0
push constant 73
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 24
add
push local 0
push constant 85
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 89
add
push local 1
push constant 24
add
push local 0
push constant 131
add
push local 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 15
add
push local 1
push constant 25
add
push local 0
push constant 52
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 57
add
push local 1
push constant 25
add
push local 0
push constant 73
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 25
add
push local 0
push constant 87
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 91
add
push local 1
push constant 25
add
push local 0
push constant 132
add
push local 1
push constant 25
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 17
add
push local 1
push constant 26
add
push local 0
push constant 50
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 54
add
push local 1
push constant 26
add
push local 0
push constant 73
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 26
add
push local 0
push constant 89
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 93
add
push local 1
push constant 26
add
push local 0
push constant 132
add
push local 1
push constant 26
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 19
add
push local 1
push constant 27
add
push local 0
push constant 47
add
push local 1
push constant 27
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 27
add
push local 0
push constant 73
add
push local 1
push constant 27
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 27
add
push local 0
push constant 92
add
push local 1
push constant 27
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 94
add
push local 1
push constant 27
add
push local 0
push constant 132
add
push local 1
push constant 27
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 21
add
push local 1
push constant 28
add
push local 0
push constant 43
add
push local 1
push constant 28
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 49
add
push local 1
push constant 28
add
push local 0
push constant 73
add
push local 1
push constant 28
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 28
add
push local 0
push constant 92
add
push local 1
push constant 28
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 28
add
push local 0
push constant 129
add
push local 1
push constant 28
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 24
add
push local 1
push constant 29
add
push local 0
push constant 37
add
push local 1
push constant 29
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 42
add
push local 1
push constant 29
add
push local 0
push constant 73
add
push local 1
push constant 29
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 29
add
push local 0
push constant 97
add
push local 1
push constant 29
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 101
add
push local 1
push constant 29
add
push local 0
push constant 126
add
push local 1
push constant 29
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 30
add
push local 0
push constant 35
add
push local 1
push constant 30
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 39
add
push local 1
push constant 30
add
push local 0
push constant 73
add
push local 1
push constant 30
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 30
add
push local 0
push constant 99
add
push local 1
push constant 30
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 104
add
push local 1
push constant 30
add
push local 0
push constant 124
add
push local 1
push constant 30
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 28
add
push local 1
push constant 31
add
push local 0
push constant 31
add
push local 1
push constant 31
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 36
add
push local 1
push constant 31
add
push local 0
push constant 73
add
push local 1
push constant 31
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 31
add
push local 0
push constant 101
add
push local 1
push constant 31
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 105
add
push local 1
push constant 31
add
push local 0
push constant 122
add
push local 1
push constant 31
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 34
add
push local 1
push constant 32
add
push local 0
push constant 73
add
push local 1
push constant 32
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 32
add
push local 0
push constant 103
add
push local 1
push constant 32
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 107
add
push local 1
push constant 32
add
push local 0
push constant 120
add
push local 1
push constant 32
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 34
add
push local 1
push constant 33
add
push local 0
push constant 73
add
push local 1
push constant 33
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 33
add
push local 0
push constant 103
add
push local 1
push constant 33
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 107
add
push local 1
push constant 33
add
push local 0
push constant 120
add
push local 1
push constant 33
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 32
add
push local 1
push constant 34
add
push local 0
push constant 73
add
push local 1
push constant 34
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 34
add
push local 0
push constant 105
add
push local 1
push constant 34
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 109
add
push local 1
push constant 34
add
push local 0
push constant 118
add
push local 1
push constant 34
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 28
add
push local 1
push constant 35
add
push local 0
push constant 30
add
push local 1
push constant 35
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 34
add
push local 1
push constant 35
add
push local 0
push constant 73
add
push local 1
push constant 35
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 35
add
push local 0
push constant 107
add
push local 1
push constant 35
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 111
add
push local 1
push constant 35
add
push local 0
push constant 116
add
push local 1
push constant 35
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 17
add
push local 1
push constant 36
add
push local 0
push constant 33
add
push local 1
push constant 36
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 36
add
push local 1
push constant 36
add
push local 0
push constant 73
add
push local 1
push constant 36
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 36
add
push local 0
push constant 109
add
push local 1
push constant 36
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 113
add
push local 1
push constant 36
add
push local 0
push constant 113
add
push local 1
push constant 36
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 7
add
push local 1
push constant 37
add
push local 0
push constant 35
add
push local 1
push constant 37
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 38
add
push local 1
push constant 37
add
push local 0
push constant 73
add
push local 1
push constant 37
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 37
add
push local 0
push constant 111
add
push local 1
push constant 37
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 4
add
push local 1
push constant 38
add
push local 0
push constant 36
add
push local 1
push constant 38
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 40
add
push local 1
push constant 38
add
push local 0
push constant 73
add
push local 1
push constant 38
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 38
add
push local 0
push constant 108
add
push local 1
push constant 38
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 113
add
push local 1
push constant 38
add
push local 0
push constant 117
add
push local 1
push constant 38
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 5
add
push local 1
push constant 39
add
push local 0
push constant 38
add
push local 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 42
add
push local 1
push constant 39
add
push local 0
push constant 73
add
push local 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 39
add
push local 0
push constant 106
add
push local 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 110
add
push local 1
push constant 39
add
push local 0
push constant 120
add
push local 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 9
add
push local 1
push constant 40
add
push local 0
push constant 43
add
push local 1
push constant 40
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 47
add
push local 1
push constant 40
add
push local 0
push constant 73
add
push local 1
push constant 40
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 40
add
push local 0
push constant 101
add
push local 1
push constant 40
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 105
add
push local 1
push constant 40
add
push local 0
push constant 126
add
push local 1
push constant 40
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 11
add
push local 1
push constant 41
add
push local 0
push constant 45
add
push local 1
push constant 41
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 49
add
push local 1
push constant 41
add
push local 0
push constant 73
add
push local 1
push constant 41
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 41
add
push local 0
push constant 97
add
push local 1
push constant 41
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 103
add
push local 1
push constant 41
add
push local 0
push constant 129
add
push local 1
push constant 41
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 12
add
push local 1
push constant 42
add
push local 0
push constant 45
add
push local 1
push constant 42
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 50
add
push local 1
push constant 42
add
push local 0
push constant 73
add
push local 1
push constant 42
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 42
add
push local 0
push constant 97
add
push local 1
push constant 42
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 103
add
push local 1
push constant 42
add
push local 0
push constant 131
add
push local 1
push constant 42
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 13
add
push local 1
push constant 43
add
push local 0
push constant 47
add
push local 1
push constant 43
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 43
add
push local 0
push constant 73
add
push local 1
push constant 43
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 43
add
push local 0
push constant 95
add
push local 1
push constant 43
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 101
add
push local 1
push constant 43
add
push local 0
push constant 135
add
push local 1
push constant 43
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 16
add
push local 1
push constant 44
add
push local 0
push constant 49
add
push local 1
push constant 44
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 53
add
push local 1
push constant 44
add
push local 0
push constant 73
add
push local 1
push constant 44
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 44
add
push local 0
push constant 92
add
push local 1
push constant 44
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 97
add
push local 1
push constant 44
add
push local 0
push constant 137
add
push local 1
push constant 44
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 18
add
push local 1
push constant 45
add
push local 0
push constant 50
add
push local 1
push constant 45
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 55
add
push local 1
push constant 45
add
push local 0
push constant 73
add
push local 1
push constant 45
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 45
add
push local 0
push constant 90
add
push local 1
push constant 45
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 94
add
push local 1
push constant 45
add
push local 0
push constant 138
add
push local 1
push constant 45
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 20
add
push local 1
push constant 46
add
push local 0
push constant 53
add
push local 1
push constant 46
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 57
add
push local 1
push constant 46
add
push local 0
push constant 73
add
push local 1
push constant 46
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 46
add
push local 0
push constant 88
add
push local 1
push constant 46
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 93
add
push local 1
push constant 46
add
push local 0
push constant 138
add
push local 1
push constant 46
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 22
add
push local 1
push constant 47
add
push local 0
push constant 55
add
push local 1
push constant 47
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 59
add
push local 1
push constant 47
add
push local 0
push constant 73
add
push local 1
push constant 47
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 47
add
push local 0
push constant 85
add
push local 1
push constant 47
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 90
add
push local 1
push constant 47
add
push local 0
push constant 133
add
push local 1
push constant 47
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 24
add
push local 1
push constant 48
add
push local 0
push constant 57
add
push local 1
push constant 48
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 62
add
push local 1
push constant 48
add
push local 0
push constant 73
add
push local 1
push constant 48
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 48
add
push local 0
push constant 81
add
push local 1
push constant 48
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 87
add
push local 1
push constant 48
add
push local 0
push constant 131
add
push local 1
push constant 48
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 26
add
push local 1
push constant 49
add
push local 0
push constant 59
add
push local 1
push constant 49
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 64
add
push local 1
push constant 49
add
push local 0
push constant 73
add
push local 1
push constant 49
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 49
add
push local 0
push constant 79
add
push local 1
push constant 49
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 83
add
push local 1
push constant 49
add
push local 0
push constant 128
add
push local 1
push constant 49
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 28
add
push local 1
push constant 50
add
push local 0
push constant 62
add
push local 1
push constant 50
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 65
add
push local 1
push constant 50
add
push local 0
push constant 73
add
push local 1
push constant 50
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 50
add
push local 0
push constant 77
add
push local 1
push constant 50
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 81
add
push local 1
push constant 50
add
push local 0
push constant 125
add
push local 1
push constant 50
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 51
add
push local 0
push constant 64
add
push local 1
push constant 51
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 67
add
push local 1
push constant 51
add
push local 0
push constant 73
add
push local 1
push constant 51
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 51
add
push local 0
push constant 75
add
push local 1
push constant 51
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 79
add
push local 1
push constant 51
add
push local 0
push constant 123
add
push local 1
push constant 51
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 32
add
push local 1
push constant 52
add
push local 0
push constant 64
add
push local 1
push constant 52
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 69
add
push local 1
push constant 52
add
push local 0
push constant 73
add
push local 1
push constant 52
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 78
add
push local 1
push constant 52
add
push local 0
push constant 122
add
push local 1
push constant 52
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 53
add
push local 0
push constant 30
add
push local 1
push constant 53
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 34
add
push local 1
push constant 53
add
push local 0
push constant 66
add
push local 1
push constant 53
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 53
add
push local 0
push constant 72
add
push local 1
push constant 53
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 53
add
push local 0
push constant 120
add
push local 1
push constant 53
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 54
add
push local 0
push constant 32
add
push local 1
push constant 54
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 36
add
push local 1
push constant 54
add
push local 0
push constant 68
add
push local 1
push constant 54
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 54
add
push local 0
push constant 117
add
push local 1
push constant 54
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 55
add
push local 0
push constant 34
add
push local 1
push constant 55
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 38
add
push local 1
push constant 55
add
push local 0
push constant 65
add
push local 1
push constant 55
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 73
add
push local 1
push constant 55
add
push local 0
push constant 115
add
push local 1
push constant 55
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 56
add
push local 0
push constant 36
add
push local 1
push constant 56
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 40
add
push local 1
push constant 56
add
push local 0
push constant 64
add
push local 1
push constant 56
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 67
add
push local 1
push constant 56
add
push local 0
push constant 69
add
push local 1
push constant 56
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 75
add
push local 1
push constant 56
add
push local 0
push constant 112
add
push local 1
push constant 56
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 57
add
push local 0
push constant 38
add
push local 1
push constant 57
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 41
add
push local 1
push constant 57
add
push local 0
push constant 62
add
push local 1
push constant 57
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 65
add
push local 1
push constant 57
add
push local 0
push constant 69
add
push local 1
push constant 57
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 72
add
push local 1
push constant 57
add
push local 0
push constant 73
add
push local 1
push constant 57
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 77
add
push local 1
push constant 57
add
push local 0
push constant 109
add
push local 1
push constant 57
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 113
add
push local 1
push constant 57
add
push local 0
push constant 113
add
push local 1
push constant 57
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 58
add
push local 0
push constant 40
add
push local 1
push constant 58
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 43
add
push local 1
push constant 58
add
push local 0
push constant 61
add
push local 1
push constant 58
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 64
add
push local 1
push constant 58
add
push local 0
push constant 69
add
push local 1
push constant 58
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 58
add
push local 0
push constant 74
add
push local 1
push constant 58
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 79
add
push local 1
push constant 58
add
push local 0
push constant 107
add
push local 1
push constant 58
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 111
add
push local 1
push constant 58
add
push local 0
push constant 113
add
push local 1
push constant 58
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 59
add
push local 0
push constant 42
add
push local 1
push constant 59
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 45
add
push local 1
push constant 59
add
push local 0
push constant 58
add
push local 1
push constant 59
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 62
add
push local 1
push constant 59
add
push local 0
push constant 69
add
push local 1
push constant 59
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 59
add
push local 0
push constant 77
add
push local 1
push constant 59
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 80
add
push local 1
push constant 59
add
push local 0
push constant 105
add
push local 1
push constant 59
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 109
add
push local 1
push constant 59
add
push local 0
push constant 113
add
push local 1
push constant 59
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 60
add
push local 0
push constant 45
add
push local 1
push constant 60
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 47
add
push local 1
push constant 60
add
push local 0
push constant 56
add
push local 1
push constant 60
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 60
add
push local 0
push constant 69
add
push local 1
push constant 60
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 60
add
push local 0
push constant 78
add
push local 1
push constant 60
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 81
add
push local 1
push constant 60
add
push local 0
push constant 103
add
push local 1
push constant 60
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 107
add
push local 1
push constant 60
add
push local 0
push constant 113
add
push local 1
push constant 60
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 61
add
push local 0
push constant 45
add
push local 1
push constant 61
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 48
add
push local 1
push constant 61
add
push local 0
push constant 56
add
push local 1
push constant 61
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 61
add
push local 0
push constant 69
add
push local 1
push constant 61
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 61
add
push local 0
push constant 78
add
push local 1
push constant 61
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 81
add
push local 1
push constant 61
add
push local 0
push constant 103
add
push local 1
push constant 61
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 107
add
push local 1
push constant 61
add
push local 0
push constant 113
add
push local 1
push constant 61
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 62
add
push local 0
push constant 47
add
push local 1
push constant 62
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 51
add
push local 1
push constant 62
add
push local 0
push constant 54
add
push local 1
push constant 62
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 58
add
push local 1
push constant 62
add
push local 0
push constant 69
add
push local 1
push constant 62
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 62
add
push local 0
push constant 80
add
push local 1
push constant 62
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 83
add
push local 1
push constant 62
add
push local 0
push constant 100
add
push local 1
push constant 62
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 105
add
push local 1
push constant 62
add
push local 0
push constant 113
add
push local 1
push constant 62
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 63
add
push local 0
push constant 50
add
push local 1
push constant 63
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 54
add
push local 1
push constant 63
add
push local 0
push constant 69
add
push local 1
push constant 63
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 63
add
push local 0
push constant 84
add
push local 1
push constant 63
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 87
add
push local 1
push constant 63
add
push local 0
push constant 95
add
push local 1
push constant 63
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 100
add
push local 1
push constant 63
add
push local 0
push constant 113
add
push local 1
push constant 63
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 64
add
push local 0
push constant 69
add
push local 1
push constant 64
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 64
add
push local 0
push constant 85
add
push local 1
push constant 64
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 89
add
push local 1
push constant 64
add
push local 0
push constant 92
add
push local 1
push constant 64
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 96
add
push local 1
push constant 64
add
push local 0
push constant 113
add
push local 1
push constant 64
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 65
add
push local 0
push constant 69
add
push local 1
push constant 65
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 65
add
push local 0
push constant 88
add
push local 1
push constant 65
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 94
add
push local 1
push constant 65
add
push local 0
push constant 113
add
push local 1
push constant 65
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 66
add
push local 0
push constant 69
add
push local 1
push constant 66
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 66
add
push local 0
push constant 89
add
push local 1
push constant 66
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 93
add
push local 1
push constant 66
add
push local 0
push constant 113
add
push local 1
push constant 66
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 67
add
push local 0
push constant 69
add
push local 1
push constant 67
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 67
add
push local 0
push constant 113
add
push local 1
push constant 67
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 68
add
push local 0
push constant 69
add
push local 1
push constant 68
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 68
add
push local 0
push constant 113
add
push local 1
push constant 68
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 69
add
push local 0
push constant 69
add
push local 1
push constant 69
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 69
add
push local 0
push constant 113
add
push local 1
push constant 69
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 70
add
push local 0
push constant 69
add
push local 1
push constant 70
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 70
add
push local 0
push constant 113
add
push local 1
push constant 70
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 71
add
push local 0
push constant 69
add
push local 1
push constant 71
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 71
add
push local 0
push constant 113
add
push local 1
push constant 71
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 72
add
push local 0
push constant 69
add
push local 1
push constant 72
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 72
add
push local 0
push constant 113
add
push local 1
push constant 72
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 73
add
push local 0
push constant 69
add
push local 1
push constant 73
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 73
add
push local 0
push constant 113
add
push local 1
push constant 73
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 74
add
push local 0
push constant 69
add
push local 1
push constant 74
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 74
add
push local 0
push constant 113
add
push local 1
push constant 74
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 75
add
push local 0
push constant 69
add
push local 1
push constant 75
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 75
add
push local 0
push constant 113
add
push local 1
push constant 75
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 76
add
push local 0
push constant 69
add
push local 1
push constant 76
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 76
add
push local 0
push constant 113
add
push local 1
push constant 76
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 77
add
push local 0
push constant 69
add
push local 1
push constant 77
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 77
add
push local 0
push constant 113
add
push local 1
push constant 77
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 78
add
push local 0
push constant 69
add
push local 1
push constant 78
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 78
add
push local 0
push constant 113
add
push local 1
push constant 78
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 79
add
push local 0
push constant 69
add
push local 1
push constant 79
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 79
add
push local 0
push constant 113
add
push local 1
push constant 79
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 30
add
push local 1
push constant 80
add
push local 0
push constant 69
add
push local 1
push constant 80
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 80
add
push local 0
push constant 113
add
push local 1
push constant 80
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 31
add
push local 1
push constant 81
add
push local 0
push constant 69
add
push local 1
push constant 81
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 81
add
push local 0
push constant 113
add
push local 1
push constant 81
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 33
add
push local 1
push constant 82
add
push local 0
push constant 69
add
push local 1
push constant 82
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 82
add
push local 0
push constant 113
add
push local 1
push constant 82
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 35
add
push local 1
push constant 83
add
push local 0
push constant 69
add
push local 1
push constant 83
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 83
add
push local 0
push constant 113
add
push local 1
push constant 83
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 37
add
push local 1
push constant 84
add
push local 0
push constant 68
add
push local 1
push constant 84
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 84
add
push local 0
push constant 113
add
push local 1
push constant 84
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 39
add
push local 1
push constant 85
add
push local 0
push constant 68
add
push local 1
push constant 85
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 85
add
push local 0
push constant 114
add
push local 1
push constant 85
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 41
add
push local 1
push constant 86
add
push local 0
push constant 68
add
push local 1
push constant 86
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 86
add
push local 0
push constant 114
add
push local 1
push constant 86
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 43
add
push local 1
push constant 87
add
push local 0
push constant 68
add
push local 1
push constant 87
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 87
add
push local 0
push constant 111
add
push local 1
push constant 87
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 46
add
push local 1
push constant 88
add
push local 0
push constant 68
add
push local 1
push constant 88
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 88
add
push local 0
push constant 108
add
push local 1
push constant 88
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 48
add
push local 1
push constant 89
add
push local 0
push constant 68
add
push local 1
push constant 89
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 89
add
push local 0
push constant 105
add
push local 1
push constant 89
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 50
add
push local 1
push constant 90
add
push local 0
push constant 68
add
push local 1
push constant 90
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 90
add
push local 0
push constant 102
add
push local 1
push constant 90
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 52
add
push local 1
push constant 91
add
push local 0
push constant 68
add
push local 1
push constant 91
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 91
add
push local 0
push constant 99
add
push local 1
push constant 91
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 54
add
push local 1
push constant 92
add
push local 0
push constant 68
add
push local 1
push constant 92
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 92
add
push local 0
push constant 95
add
push local 1
push constant 92
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 56
add
push local 1
push constant 93
add
push local 0
push constant 68
add
push local 1
push constant 93
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 93
add
push local 0
push constant 92
add
push local 1
push constant 93
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 58
add
push local 1
push constant 94
add
push local 0
push constant 68
add
push local 1
push constant 94
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 94
add
push local 0
push constant 89
add
push local 1
push constant 94
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 60
add
push local 1
push constant 95
add
push local 0
push constant 68
add
push local 1
push constant 95
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 95
add
push local 0
push constant 86
add
push local 1
push constant 95
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 62
add
push local 1
push constant 96
add
push local 0
push constant 68
add
push local 1
push constant 96
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 96
add
push local 0
push constant 83
add
push local 1
push constant 96
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 64
add
push local 1
push constant 97
add
push local 0
push constant 68
add
push local 1
push constant 97
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 97
add
push local 0
push constant 80
add
push local 1
push constant 97
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 66
add
push local 1
push constant 98
add
push local 0
push constant 68
add
push local 1
push constant 98
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 71
add
push local 1
push constant 98
add
push local 0
push constant 77
add
push local 1
push constant 98
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 67
add
push local 1
push constant 99
add
push local 0
push constant 68
add
push local 1
push constant 99
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
