function Switching.run 3
push argument 0
call String.length 1
pop local 0
push local 0
push constant 2
call Math.divide 2
pop local 1
push constant 0
pop local 2
call Screen.clearScreen 0
pop temp 0
label WHILE_EXP0
push local 2
push local 1
lt
not
if-goto WHILE_END0
push argument 1
push argument 2
push local 2
add
call Output.moveCursor 2
pop temp 0
push argument 0
push local 2
call String.charAt 2
call Output.printChar 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push argument 1
push argument 2
push local 0
add
push constant 1
sub
push local 2
sub
call Output.moveCursor 2
pop temp 0
push argument 0
push local 0
push local 2
sub
push constant 1
sub
call String.charAt 2
call Output.printChar 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 0
push local 0
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
sub
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
push local 1
add
push constant 1
sub
call Output.moveCursor 2
pop temp 0
push argument 0
push local 1
push constant 1
sub
call String.charAt 2
call Output.printChar 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push argument 1
push argument 2
push local 1
add
call Output.moveCursor 2
pop temp 0
push argument 0
push local 1
call String.charAt 2
call Output.printChar 1
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 1
push argument 2
push local 1
add
call Output.moveCursor 2
pop temp 0
push argument 0
push local 1
call String.charAt 2
call Output.printChar 1
pop temp 0
label IF_END0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
return
