function Box.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 2
pop this 0
push argument 0
pop this 2
push argument 1
pop this 3
push pointer 0
return
function Box.draw 0
push argument 0
pop pointer 0
push this 2
push argument 1
push this 0
call Math.multiply 2
add
pop argument 1
push this 3
push argument 2
push this 0
call Math.multiply 2
add
pop argument 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
call Img.print_box 2
pop temp 0
push constant 0
return
function Box.wipe 0
push argument 0
pop pointer 0
push this 2
push argument 1
push this 0
call Math.multiply 2
add
pop argument 1
push this 3
push argument 2
push this 0
call Math.multiply 2
add
pop argument 2
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
call Img.print_box 2
pop temp 0
push constant 0
return
function Box.sign_draw 0
push argument 0
pop pointer 0
push this 2
push argument 1
push this 0
call Math.multiply 2
add
pop argument 1
push this 3
push argument 2
push this 0
call Math.multiply 2
add
pop argument 2
push argument 1
push argument 2
push constant 0
not
call Img.print_sign_box 3
pop temp 0
push constant 0
return
function Box.sign_wipe 0
push argument 0
pop pointer 0
push this 2
push argument 1
push this 0
call Math.multiply 2
add
pop argument 1
push this 3
push argument 2
push this 0
call Math.multiply 2
add
pop argument 2
push argument 1
push argument 2
push constant 0
call Img.print_sign_box 3
pop temp 0
push constant 0
return
function Box.move 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Box.wipe 3
pop temp 0
push pointer 0
push argument 3
push argument 4
call Box.draw 3
pop temp 0
push constant 0
return
function Box.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
