function Player.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 2
pop this 0
push argument 0
pop this 3
push argument 1
pop this 4
push pointer 0
return
function Player.set_pos 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 0
return
function Player.draw 3
push argument 0
pop pointer 0
push this 3
push this 1
push this 0
call Math.multiply 2
add
pop local 1
push this 4
push this 2
push this 0
call Math.multiply 2
add
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push constant 5
add
push local 2
push local 1
push constant 14
add
push local 2
call Screen.drawLine 4
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 1
add
push local 1
push constant 5
add
push local 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 1
add
push local 1
push constant 15
add
push local 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 2
add
push local 1
push constant 4
add
push local 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 2
add
push local 1
push constant 15
add
push local 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 3
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 3
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 16
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 2
add
push local 1
push constant 7
add
push local 2
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 2
add
push local 1
push constant 12
add
push local 2
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 9
add
push local 2
push constant 4
add
push local 1
push constant 10
add
push local 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 8
add
push local 2
push constant 6
add
push local 1
push constant 11
add
push local 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 5
add
push local 2
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 6
add
push local 2
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 8
add
push local 1
push constant 12
add
push local 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 2
add
push local 2
push constant 6
add
push local 1
push constant 2
add
push local 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 17
add
push local 2
push constant 6
add
push local 1
push constant 17
add
push local 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 1
add
push local 2
push constant 8
add
push local 1
push constant 1
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 18
add
push local 2
push constant 8
add
push local 1
push constant 18
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 2
add
push local 2
push constant 13
add
push local 1
push constant 4
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 13
add
push local 1
push constant 17
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 5
add
push local 2
push constant 10
add
push local 1
push constant 5
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 10
add
push local 1
push constant 14
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 6
add
push local 2
push constant 9
add
push local 1
push constant 6
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 13
add
push local 2
push constant 9
add
push local 1
push constant 13
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 5
add
push local 2
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push local 1
push local 2
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 19
add
push local 2
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 8
add
push local 2
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 11
add
push local 2
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 9
add
push local 2
push constant 15
add
push local 1
push constant 10
add
push local 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 3
add
push local 2
push constant 16
add
push local 1
push constant 4
add
push local 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 16
add
push local 1
push constant 16
add
push local 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 1
add
push local 2
push constant 17
add
push local 1
push constant 2
add
push local 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 17
add
push local 2
push constant 17
add
push local 1
push constant 18
add
push local 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 17
add
push local 1
push constant 7
add
push local 2
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 17
add
push local 1
push constant 12
add
push local 2
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 1
push local 2
push constant 19
add
push local 1
push constant 7
add
push local 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 19
add
push local 1
push constant 19
add
push local 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Player.wipe 4
push argument 0
pop pointer 0
push this 3
push this 1
push this 0
call Math.multiply 2
add
pop local 1
push this 4
push this 2
push this 0
call Math.multiply 2
add
pop local 2
push constant 0
call Screen.setColor 1
pop temp 0
push local 1
push constant 5
add
push local 2
push local 1
push constant 14
add
push local 2
call Screen.drawLine 4
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 1
add
push local 1
push constant 5
add
push local 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 1
add
push local 1
push constant 15
add
push local 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 2
add
push local 1
push constant 4
add
push local 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 2
add
push local 1
push constant 15
add
push local 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 3
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 3
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 16
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 2
add
push local 1
push constant 7
add
push local 2
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 2
add
push local 1
push constant 12
add
push local 2
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 9
add
push local 2
push constant 4
add
push local 1
push constant 10
add
push local 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 8
add
push local 2
push constant 6
add
push local 1
push constant 11
add
push local 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 5
add
push local 2
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 6
add
push local 2
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 8
add
push local 1
push constant 12
add
push local 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 2
add
push local 2
push constant 6
add
push local 1
push constant 2
add
push local 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 17
add
push local 2
push constant 6
add
push local 1
push constant 17
add
push local 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 1
add
push local 2
push constant 8
add
push local 1
push constant 1
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 18
add
push local 2
push constant 8
add
push local 1
push constant 18
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 2
add
push local 2
push constant 13
add
push local 1
push constant 4
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 13
add
push local 1
push constant 17
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 5
add
push local 2
push constant 10
add
push local 1
push constant 5
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 10
add
push local 1
push constant 14
add
push local 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 6
add
push local 2
push constant 9
add
push local 1
push constant 6
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 13
add
push local 2
push constant 9
add
push local 1
push constant 13
add
push local 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 5
add
push local 2
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 14
add
push local 2
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 4
add
push local 2
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push local 1
push local 2
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 19
add
push local 2
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 8
add
push local 2
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 11
add
push local 2
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 9
add
push local 2
push constant 15
add
push local 1
push constant 10
add
push local 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 3
add
push local 2
push constant 16
add
push local 1
push constant 4
add
push local 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 15
add
push local 2
push constant 16
add
push local 1
push constant 16
add
push local 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 1
add
push local 2
push constant 17
add
push local 1
push constant 2
add
push local 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 17
add
push local 2
push constant 17
add
push local 1
push constant 18
add
push local 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 7
add
push local 2
push constant 17
add
push local 1
push constant 7
add
push local 2
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 17
add
push local 1
push constant 12
add
push local 2
push constant 18
add
call Screen.drawLine 4
pop temp 0
push local 1
push local 2
push constant 19
add
push local 1
push constant 7
add
push local 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 12
add
push local 2
push constant 19
add
push local 1
push constant 19
add
push local 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Player.move 0
push argument 0
pop pointer 0
push pointer 0
call Player.wipe 1
pop temp 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Player.draw 1
pop temp 0
push constant 0
return
function Player.get_x 0
push argument 0
pop pointer 0
push this 1
return
function Player.get_y 0
push argument 0
pop pointer 0
push this 2
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
